In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import load_iris
from feature_engine.creation import CyclicalFeatures

ModuleNotFoundError: No module named 'feature_engine.creation'

In [20]:
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')

# Data cleaning

## Removing data

### Removing outliers

In [21]:
# Removing invalid data
print(train.size)
train = train[train["Y"] != 90]
print(train.size)

7902441
7901838

### Removing irrelevant columns

In [22]:
test = test.drop(['Id', 'Address'], axis=1)

## Clean date feature

### Convert date item to datetime object

In [23]:
test['Dates'] = pd.to_datetime(test["Dates"])
test

                     Dates  DayOfWeek PdDistrict           X          Y
0      2015-05-10 23:59:00     Sunday    BAYVIEW -122.399588  37.735051
1      2015-05-10 23:51:00     Sunday    BAYVIEW -122.391523  37.732432
2      2015-05-10 23:50:00     Sunday   NORTHERN -122.426002  37.792212
3      2015-05-10 23:45:00     Sunday  INGLESIDE -122.437394  37.721412
4      2015-05-10 23:45:00     Sunday  INGLESIDE -122.437394  37.721412
...                    ...        ...        ...         ...        ...
884257 2003-01-01 00:01:00  Wednesday    MISSION -122.408983  37.751987
884258 2003-01-01 00:01:00  Wednesday   NORTHERN -122.425342  37.792681
884259 2003-01-01 00:01:00  Wednesday  INGLESIDE -122.445418  37.712075
884260 2003-01-01 00:01:00  Wednesday    BAYVIEW -122.387394  37.739479
884261 2003-01-01 00:01:00  Wednesday    TARAVAL -122.489714  37.733950

[884262 rows x 5 columns]

### Break up datetime object into each of its components

In [24]:
test['Year'] = test['Dates'].dt.year
test['Month'] = test['Dates'].dt.month
test['Day'] = test['Dates'].dt.day
test['Hour'] = test['Dates'].dt.hour
test['Minute'] = test['Dates'].dt.minute
test['Second'] = test['Dates'].dt.second
test

,Dates,DayOfWeek,PdDistrict,X,Y,Year,Month,Day,Hour,Minute,Second
0,2015-05-10 23:59:00,Sunday,BAYVIEW,-122.399588,37.735051,2015,5,10,23,59,0
1,2015-05-10 23:51:00,Sunday,BAYVIEW,-122.391523,37.732432,2015,5,10,23,51,0
2,2015-05-10 23:50:00,Sunday,NORTHERN,-122.426002,37.792212,2015,5,10,23,50,0
3,2015-05-10 23:45:00,Sunday,INGLESIDE,-122.437394,37.721412,2015,5,10,23,45,0
4,2015-05-10 23:45:00,Sunday,INGLESIDE,-122.437394,37.721412,2015,5,10,23,45,0
...,...,...,...,...,...,...,...,...,...,...,...
884257,2003-01-01 00:01:00,Wednesday,MISSION,-122.408983,37.751987,2003,1,1,0,1,0
884258,2003-01-01 00:01:00,Wednesday,NORTHERN,-122.425342,37.792681,2003,1,1,0,1,0
884259,2003-01-01 00:01:00,Wednesday,INGLESIDE,-122.445418,37.712075,2003,1,1,0,1,0
884260,2003-01-01 00:01:00,Wednesday,BAYVIEW,-122.387394,37.739479,2003,1,1,0,1,0
884261,2003-01-01 00:01:00,Wednesday,TARAVAL,-122.489714,37.733950,2003,1,1,0,1,0

### Convert data to cyclical columns where need be Source: https://feature-engine.trainindata.com/en/latest/user_guide/creation/CyclicalFeatures.html

##

### Create target variable

In [42]:
target = train["Category"]

### Remove variables only provided in test dataset

In [44]:
features = train.drop(columns=["Category", "Descript", "Resolution"])

In [45]:
test_no_id = test.drop(columns=["Id"])

In [47]:
classifier = RandomForestClassifier(n_estimators=10, random_state=42)
classifier.fit(features, target)
y_pred = classifier.predict(test_no_id)

ValueError: could not convert string to float: '2015-05-13 23:53:00'